.cartDetail {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: var(--background-color);
  left: -370px;
  top: 100%;
  max-height: 400px;
  border-radius: 10px;
  box-sizing: content-box;
  border-top: 50px solid rgba(red, green, blue, 0);
  justify-content: space-around;
  flex-direction: column;
  color: var(--primary-color);
  padding: 40px 0px;
  font-size: 1.6rem;
  z-index: 3;
}
.detailItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemCart {
  padding-top: 10px;
}
img {
  width: 70%;
}
@media screen and (max-width: 767px) {
  .detailItem {
    justify-content: center !important;
  }
}
