.cart {
  padding: 0 5px;
  position: relative;
  top: 7px;
}

.numberOfProduct {
  position: absolute;
  top: -45%;
  left: 80%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: #efeff5;
  color: var(--primary-color);
  display:inline-block;
  font-weight: 900;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
}
.cart:hover  .cartDetail {
display: flex;
}
